html {
    font-size: 30px;
}

body {
    margin: 0 auto;
    padding: 50px;
    background-color: #1d2021;
    color: #ebdbb2;
    font-family: Calibri, Helvetica, Arial, sans-serif;
    line-height: 150%;
}

a {
    color: #ebdbb2;
    font-weight: bold;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}
